@use 'variables';

.footer-container {
  padding: 2rem 1rem;
  margin-top: 3rem;
  background-image: url(../assets/footer/rectangle_footer.svg);
  &-info {
    max-width: 20rem;
    &-logo {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      &-square {
        padding: 1.1rem 1.5rem;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 2.8rem;
        color: variables.$color-white;
        background-color: variables.$color-light-gold;
        box-shadow: 0px 14px 24px variables.$shadow-medium-grey;
      }
      &-text {
        max-width: 3.4rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: 2.6px;
        text-transform: uppercase;
        span {
          font-weight: 700;
        }
      }
    }
    &-description {
      margin-top: 3rem;
      font-size: 1rem;
      line-height: 1.4rem;
      color: variables.$color-half-grey;
    }
    &-networks {
      margin: 1rem 0;
      display: flex;
      gap: 0.5rem;
      .bground-container {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        background-color: variables.$color-lightest-white;
        .icon-social-networks {
          cursor: pointer;
          height: 20px;
          background-color: variables.$color-white;
          svg {
            fill: variables.$color-half-grey;
            width: 20px;
            height: 20px;
          }
        }
        &:hover {
          svg {
            fill: variables.$color-light-gold;
          }
        }
      }
    }
  }
  &-services {
    max-width: 26.5rem;
    margin: 3rem 0;
    p {
      font-family: variables.$font-old-standard;
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }
    &-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: left;
      gap: 1.1rem;
      ul {
        font-family: variables.$font-roboto;
        font-size: 0.8rem;
        line-height: 2rem;
        color: variables.$color-half-grey;
      }
    }
  }
  &-contact {
    &-title {
      font-family: variables.$font-old-standard;
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: variables.$color-light-black;
    }
    .contact-method {
      display: flex;
      gap: 2rem;
      align-items: center;
      margin-top: 2rem;
      &-info {
        &-title {
          font-family: variables.$font-old-standard;
          font-size: 1.1rem;
          line-height: 1.3rem;
          color: variables.$color-light-black;
        }
        &-description {
          font-family: variables.$font-roboto;
          font-size: 0.8rem;
          line-height: 1rem;
          color: variables.$color-half-grey;
        }
      }
      #mail-info-container {
        padding-bottom: 0.8rem;
      }
    }
  }
}

.footer-bar {
  min-height: 4rem;
  padding: 1rem;
  background-color: variables.$color-lightest-white;
  // &--container {
  //   max-width: 87.5rem;
  // }
  &-copyright {
    margin-bottom: 1.5rem;
    font-family: variables.$font-roboto;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: -0.48px;
    color: variables.$color-light-black;
  }
  &-info {
    font-family: variables.$font-roboto;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1rem;
    letter-spacing: -0.48px;
    color: variables.$color-light-black;
  }
}

@media (min-width: 700px) {
  .footer-container {
    &-services {
      margin: 0;
      &-info {
        gap: 2.5rem;
        ul {
          font-size: 1rem;
          line-height: 3rem;
        }
      }
    }
  }
  .footer-bar {
    &--container {
      margin-top: 9px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-copyright {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 800px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    gap: 1.1rem;
  }
}

@media (min-width: 1000px) {
  .footer-bar {
    padding: 1rem 15%;
  }
}

@media (min-width: 1100px) {
  .footer-container {
    padding: 3rem 15% 2rem 15%;
  }
}

@media (min-width: 1300px) {
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
    &-services {
      &-info {
        ul {
          font-size: 0.8rem;
          line-height: 3rem;
        }
      }
    }
  }
}

@media (min-width: 1640px) {
  .footer-container {
    &-services {
      &-info {
        ul {
          font-size: 1rem;
          line-height: 3rem;
        }
      }
    }
  }
}
