@use 'variables';

.swiper {
  .swiper-button-next,
  .swiper-button-prev {
    width: 2rem;
    height: 2rem;
    color: variables.$color-black;
    background-color: variables.$color-almost-white;
    @media (min-width: 700px) {
      width: 3rem;
      height: 3rem;
    }
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: variables.$color-light-gold;
    color: variables.$color-white;
    border: 0;
  }
  .swiper-button-next::after {
    content: '﹥';
    font-size: 18px;
    font-weight: 700;
  }
  .swiper-button-prev::after {
    content: '﹤';
    font-size: 18px;
    font-weight: 700;
  }
}
