@use '../shared/variables';
@use '../shared/buttons';

#offers-section {
  padding: 2rem 1rem;
  @media (min-width: 1100px) {
    padding: 2rem 15%;
  }
}

.offers-section {
  &-card {
    margin: 2rem 0;
    box-shadow: 0px 14px 24px variables.$shadow-low-black;
    @media (min-width: 800px) {
      position: relative;
      margin-bottom: 27rem;
    }
    &--divider {
      padding: 1rem 1rem 2rem 1rem;
      @media (min-width: 800px) {
        width: 90%;
        position: absolute;
        left: 5%;
        bottom: -81%;
        background-color: variables.$color-white;
        padding: 3rem;
        border-top: 6px solid variables.$color-light-gold;
      }
    }
    &-img {
      height: 180px;
      @media (min-width: 800px) {
        height: 500px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-title {
      position: relative;
      @media (min-width: 800px) {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #ececec;
      }
      &--legend {
        font-weight: 700;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: variables.$color-half-grey;
        margin-bottom: 1rem;
      }
      h3 {
        font-family: variables.$font-old-standard;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1.44px;
        color: variables.$color-light-black;
      }
      &-price {
        position: absolute;
        top: -95px;
        right: 0;
        text-align: right;
        @media (min-width: 800px) {
          position: initial;
        }
        #old-price,
        #new-price {
          text-shadow: 1px 1px 1px variables.$color-black;
          span {
            font-size: 16px;
            line-height: 12px;
          }
        }
        #old-price {
          font-weight: 700;
          font-size: 23px;
          line-height: 25px;
          text-decoration-line: line-through;
          color: variables.$color-light-gold;
          margin-bottom: 1rem;
        }
        #new-price {
          font-weight: 700;
          font-size: 30px;
          line-height: 33px;
          color: #de5777;
        }
      }
    }
    &-description {
      @media (min-width: 800px) {
        display: flex;
        position: relative;
        padding: 2rem 0;
        gap: 30px;
      }
      &-text {
        font-family: variables.$font-roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: variables.$color-half-grey;
        margin: 1.5rem 0;
        @media (min-width: 800px) {
          margin: 0;
          width: 80%;
        }
      }
      &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
        @media (min-width: 800px) {
          width: 61%;
        }
        &-card {
          margin-bottom: 0.8rem;
          display: flex;
          align-items: center;
          gap: 10px;
          p {
            font-family: variables.$font-roboto;
            font-size: 14px;
            line-height: 18px;
            color: variables.$color-half-grey;
          }
        }
      }
      button {
        @include buttons.customBtn;
        @media (min-width: 800px) {
          position: absolute;
          bottom: 12px;
        }
      }
    }
  }
}
