@use '../shared/variables';

#rooms-section {
  margin-top: 4rem;
  min-height: 42rem;
  max-width: 209.5rem;
}

.rooms-section-title {
  text-align: center;
  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
  }
  h2 {
    margin-top: 1rem;
    font-family: variables.$font-old-standard;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: variables.$color-light-black;
  }
}

.rooms-section-slide {
  max-width: 40rem;
  padding: 1rem 0;
  margin: 0 auto;

  .swiper-slide-bottom {
    position: absolute;
    bottom: -200px;
    padding: 1rem 0;
    width: 90%;
    height: 220px;
    background-color: variables.$color-white;
    text-align: center;
    @media (min-width: 350px) {
      padding: 1rem 1.5rem;
    }
    &-title {
      font-family: variables.$font-old-standard;
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -1.2px;
      color: variables.$color-light-black;
    }
    &-content {
      font-family: variables.$font-roboto;
      font-size: 14px;
      line-height: 24px;
      margin: 1rem auto;
      color: variables.$color-half-grey;
    }
    &-price {
      font-weight: 700;
      font-size: 32px;
      line-height: 43px;
      color: variables.$color-light-gold;
      span {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: variables.$color-white;
    margin-top: 3rem;
    margin-bottom: 13.5rem;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide-top {
    position: absolute;
    top: -1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: auto;
    height: 3rem;
    padding: 0 1.5rem;
    background-color: variables.$color-white;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 60.5rem;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 35%;
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: variables.$color-light-gold;
    color: variables.$color-white;
  }
  .swiper-button-next {
    right: 4px;
  }
  .swiper-button-prev {
    left: 4px;
  }
}

@media (min-width: 700px) {
  .rooms-section-slide {
    .swiper-slide-bottom {
      display: flex;
      gap: 4rem;
      height: 160px;
      bottom: -130px;
      &--flex {
        text-align: left;
      }
      &-price {
        display: flex;
        align-items: center;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      top: 39%;
    }
  }
}
@media (min-width: 1300px) {
  .rooms-section-slide {
    max-width: inherit;
    .swiper-button-prev {
      left: 14rem;
    }
    .swiper-button-next {
      right: 19%;
    }
    .mySwiperRooms {
      .swiper-wrapper {
        padding: 0px 20rem;
      }
    }
  }
}
@media (min-width: 1390px) {
  .rooms-section-slide {
    .swiper-button-next {
      right: 21%;
    }
  }
}
@media (min-width: 1500px) {
  .rooms-section-slide {
    .mySwiperRooms {
      .swiper-wrapper {
        padding: 0 22rem;
      }
    }
  }
}
@media (min-width: 1750px) {
  .rooms-section-slide {
    .mySwiperRooms {
      .swiper-wrapper {
        padding: 0 25rem;
      }
    }
  }
}
@media (min-width: 1940px) {
  .rooms-section-slide {
    .swiper-button-next {
      right: 22%;
    }
  }
}

@media (min-width: 2000px) {
  #rooms-section {
    padding: 0 9%;
  }
  .rooms-section-slide {
    max-width: 2050px;
    .mySwiperRooms {
      .swiper-wrapper {
        padding: 0;
      }
    }
  }
}
