@use '../shared/variables';

.stats-container {
  margin: auto;
  padding: 1rem 2rem;
  text-align: center;
  color: variables.$color-white;
  background-color: variables.$color-light-black;
  &-item {
    margin: 3.5rem auto;
    &--img {
      margin-bottom: 1rem;
    }
    &--info {
      h3 {
        font-family: variables.$font-roboto;
        font-weight: 700;
        font-size: 50px;
        span {
          font-size: 16px;
        }
      }
      p {
        font-size: 14px;
        color: variables.$color-ligth-grey;
      }
    }
  }
  @media (min-width: 900px) {
    display: flex;
    gap: 2rem;
  }
  @media (min-width: 1100px) {
    margin: 0 15%;
  }
}
