@use 'variables';

#facilities-section {
  .mySwiperFacilities-mobile-container {
    .swiper-pagination-bullet-active {
      background: variables.$color-light-gold;
    }
  }
  .facilities-container {
    padding: 3rem 2rem;
    @media (min-width: 1100px) {
      padding: 3rem 0;
      max-width: 120.5rem;
    }
    &-legend {
      text-align: center;
      color: variables.$color-half-grey;
      font-weight: 700;
      font-size: 14px;
      line-height: 15px;
      letter-spacing: 2.8px;
      text-transform: uppercase;
    }
    &-title {
      text-align: center;
      margin: 1rem 0;
      margin-bottom: 2rem;
      font-family: variables.$font-old-standard;
      font-weight: 400;
      font-size: 45px;
      line-height: 52px;
      letter-spacing: -1.2px;
      color: variables.$color-light-black;
      @media (min-width: 1100px) {
        font-size: 80px;
        line-height: 80px;
        letter-spacing: -2.4px;
      }
    }
    &-card {
      margin: auto;
      margin-bottom: 3rem;
      max-width: 21rem;
      &-imgs {
        position: relative;
        min-height: 8rem;
        margin-bottom: 2rem;
        object {
          margin-top: 4rem;
        }
        &-bground {
          position: absolute;
          top: -10px;
          right: 0;
          font-weight: 700;
          font-size: 120px;
          line-height: 130px;
          color: rgba(34, 34, 34, 0.04);
        }
      }
      &-title {
        margin-bottom: 2rem;
        font-family: variables.$font-old-standard;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.9px;
        color: variables.$color-light-black;
      }
      &-description {
        max-width: 17rem;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: variables.$color-half-grey;
      }
    }
    .mySwiperFacilities-mobile-container {
      @media (min-width: 1100px) {
        display: none;
      }
    }
    .mySwiperFacilities-desktop-container {
      display: none;
      @media (min-width: 1100px) {
        display: grid;
        gap: 3.1rem;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin: auto 15%;
        max-width: 87.5rem;
      }
    }
  }
}
