$font-archivo: 'Archivo', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-old-standard: 'Old Standard TT', sans-serif;
$color-white: #fff;
$color-light-gold: #bead8e;
$color-solid-grey: #333333;
$color-black: #000;
$shadow-medium-grey: rgba(139, 139, 139, 0.25);
$shadow-huge-transparent-black: rgba(0, 0, 0, 0.29);
