// Fonts
$font-archivo: 'Archivo', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-old-standard: 'Old Standard TT', sans-serif;

// Colors
$color-lightest-white: #f9f9f9;
$color-white: #fff;
$color-light-gold: #bead8e;
$color-half-grey: #777777;
$color-solid-grey: #333333;
$color-light-black: #222222;
$color-black: #000;

// Shadow colors
$shadow-medium-grey: rgba(139, 139, 139, 0.25);
$shadow-huge-transparent-black: rgba(0, 0, 0, 0.29);
$shadow-almost-transparent-black: rgba(34, 34, 34, 0.02)
