@charset "UTF-8";
.container-nav {
  z-index: 1;
  position: relative;
  height: 4.4rem;
  padding: 0 1.5rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  background-color: #fff;
}
.container-nav-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.75rem;
}
.container-nav-navbar-mobile-menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 16px;
  gap: 5px;
}
.container-nav-navbar-mobile-menu-btn span {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.8s;
  transform-origin: left;
}
.container-nav-navbar-mobile-menu-btn--open span:first-child {
  transform: rotate(45deg);
}
.container-nav-navbar-mobile-menu-btn--open span:nth-child(2) {
  opacity: 0;
}
.container-nav-navbar-mobile-menu-btn--open span:last-child {
  transform: rotate(-45deg);
}
.container-nav-navbar-content {
  width: 100%;
}
.container-nav-navbar-content-logo-container {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.container-nav-navbar-content-logo-container-square {
  padding: 0.6rem;
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}
.container-nav-navbar-content-logo-container-text {
  max-width: 3.4rem;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.container-nav-navbar-content-logo-container-text span {
  font-weight: bold;
}
.container-nav-navbar-content-pages {
  display: none;
}
.container-nav-navbar-images-container {
  display: flex;
  gap: 1rem;
}

.bground-header-container-text {
  display: none;
  color: #fff;
}

.mobile-menu {
  position: absolute;
  background-color: white;
  width: 100%;
  padding: 0.4rem 1.5rem;
  transition: all 1s ease-out;
  z-index: 1;
}
.mobile-menu ul {
  overflow: hidden;
  max-height: 15rem;
  transition: all 1s ease-out;
}
.mobile-menu li {
  margin: 1.3rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.mobile-menu li:hover {
  text-decoration: underline;
}
.mobile-menu--closed {
  padding: 0;
  transition: all 0.7s ease-out;
}
.mobile-menu--closed ul {
  max-height: 0px;
  transition: all 0.7s ease-out;
}

@media (min-width: 450px) {
  .container-nav-navbar {
    padding: 0 3.5rem;
    gap: 2.5rem;
  }
  .container-nav-navbar-content-logo-container-text {
    max-width: 3.8rem;
    font-size: 0.8rem;
  }
  .container-nav-navbar-images-container {
    gap: 2rem;
  }
}
@media (min-width: 700px) {
  .container-nav-navbar {
    padding: 0 3.5rem;
    gap: 3.2rem;
    padding-right: 4.5rem;
  }
  .container-nav-navbar-content-logo-container {
    gap: 1rem;
  }
  .container-nav-navbar-content-logo-container-square {
    padding: 0.8rem;
    font-size: 1.4rem;
  }
  .container-nav-navbar-content-logo-container-text {
    max-width: 5rem;
    font-size: 0.9rem;
  }
  .container-nav-navbar-images-container {
    gap: 3rem;
  }
  .container-nav-navbar-images-container object {
    width: 35px;
  }
}
@media (min-width: 930px) {
  .bground-header-container {
    position: relative;
    height: 6.25rem;
    background-color: #222222;
    padding: 0 10%;
    padding-top: 1.1rem;
  }
  .bground-header-container-text {
    display: block;
    margin-bottom: 0.6rem;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
  }
  .bground-header-container .container-nav {
    padding: 0 1rem;
    height: 7rem;
  }
  .bground-header-container .container-nav-navbar {
    padding: 0;
    box-shadow: none;
  }
  .bground-header-container .container-nav-navbar-content-logo-container {
    min-width: 10rem;
  }
  .bground-header-container
    .container-nav-navbar-content-logo-container-square {
    padding: 1.3rem 1.7rem;
    font-size: 2.3rem;
  }
  .bground-header-container .container-nav-navbar-content-logo-container-text {
    font-size: 1.3rem;
    max-width: 7rem;
    margin-right: 0.6rem;
  }
  .bground-header-container .container-nav-navbar-content-pages {
    display: block;
  }
  .bground-header-container .container-nav-navbar-content-pages ul {
    display: flex;
    gap: 2rem;
  }
  .bground-header-container .container-nav-navbar-content-pages li {
    font-weight: 700;
    font-size: 0.9rem;
  }
  .bground-header-container .container-nav-navbar-content-pages li:hover {
    text-decoration: underline;
  }
  .bground-header-container .container-nav-navbar-images-container {
    gap: 1.3rem;
    margin-right: 1rem;
  }
  .bground-header-container .container-nav-navbar-images-container-border {
    border: 2px solid rgba(133, 133, 133, 0.3);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bground-header-container
    .container-nav-navbar-images-container-border
    object {
    width: 25px;
  }
  .mobile-menu {
    margin: 0;
  }
  #mobile-menu-btn {
    display: none;
  }
}
@media (min-width: 1100px) {
  .bground-header-container .container-nav-navbar-content-logo-container-text {
    margin-right: 2.5rem;
  }
  .bground-header-container .container-nav-navbar-images-container {
    margin-right: 6.3rem;
  }
}
.footer-container {
  padding: 2rem 1rem;
  margin-top: 3rem;
  background-image: url(../assets/footer/rectangle_footer.svg);
}
.footer-container-info {
  max-width: 20rem;
}
.footer-container-info-logo {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.footer-container-info-logo-square {
  padding: 1.1rem 1.5rem;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.8rem;
  color: #fff;
  background-color: #bead8e;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}
.footer-container-info-logo-text {
  max-width: 3.4rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}
.footer-container-info-logo-text span {
  font-weight: 700;
}
.footer-container-info-description {
  margin-top: 3rem;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #777777;
}
.footer-container-info-networks {
  margin: 1rem 0;
  display: flex;
  gap: 0.5rem;
}
.footer-container-info-networks .bground-container {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #f9f9f9;
}
.footer-container-info-networks .bground-container .icon-social-networks {
  cursor: pointer;
  height: 20px;
  background-color: #fff;
}
.footer-container-info-networks .bground-container .icon-social-networks svg {
  fill: #777777;
  width: 20px;
  height: 20px;
}
.footer-container-info-networks .bground-container:hover svg {
  fill: #bead8e;
}
.footer-container-services {
  max-width: 26.5rem;
  margin: 3rem 0;
}
.footer-container-services p {
  font-family: 'Old Standard TT', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.footer-container-services-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  gap: 1.1rem;
}
.footer-container-services-info ul {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  line-height: 2rem;
  color: #777777;
}
.footer-container-contact-title {
  font-family: 'Old Standard TT', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222222;
}
.footer-container-contact .contact-method {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
}
.footer-container-contact .contact-method-info-title {
  font-family: 'Old Standard TT', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #222222;
}
.footer-container-contact .contact-method-info-description {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #777777;
}
.footer-container-contact .contact-method #mail-info-container {
  padding-bottom: 0.8rem;
}

.footer-bar {
  min-height: 4rem;
  padding: 1rem;
  background-color: #f9f9f9;
}
.footer-bar-copyright {
  margin-bottom: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: -0.48px;
  color: #222222;
}
.footer-bar-info {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1rem;
  letter-spacing: -0.48px;
  color: #222222;
}

@media (min-width: 700px) {
  .footer-container-services {
    margin: 0;
  }
  .footer-container-services-info {
    gap: 2.5rem;
  }
  .footer-container-services-info ul {
    font-size: 1rem;
    line-height: 3rem;
  }
  .footer-bar--container {
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-bar-copyright {
    margin-bottom: 0;
  }
}
@media (min-width: 800px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    gap: 1.1rem;
  }
}
@media (min-width: 1000px) {
  .footer-bar {
    padding: 1rem 15%;
  }
}
@media (min-width: 1100px) {
  .footer-container {
    padding: 3rem 15% 2rem 15%;
  }
}
@media (min-width: 1300px) {
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-container-services-info ul {
    font-size: 0.8rem;
    line-height: 3rem;
  }
}
@media (min-width: 1640px) {
  .footer-container-services-info ul {
    font-size: 1rem;
    line-height: 3rem;
  }
}
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: 'Archivo', sans-serif;
  list-style: none;
}

body {
  min-width: 320px;
  background-color: #fff;
}
@media (min-width: 2500px) {
  body {
    margin: 0 auto;
    max-width: 150rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: 2rem;
  height: 2rem;
  color: #000;
  background-color: #f1f0f0;
}
@media (min-width: 700px) {
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    width: 3rem;
    height: 3rem;
  }
}
.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  background-color: #bead8e;
  color: #fff;
  border: 0;
}
.swiper .swiper-button-next::after {
  content: '﹥';
  font-size: 18px;
  font-weight: 700;
}
.swiper .swiper-button-prev::after {
  content: '﹤';
  font-size: 18px;
  font-weight: 700;
}

#description-section {
  background-color: #333333;
}

.description-container {
  position: relative;
  color: #fff;
  min-height: 15rem;
  padding: 4rem 1.5rem;
}
.description-container--legend {
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.1rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.description-container--title {
  margin-top: 1rem;
  font-family: 'Old Standard TT', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -1.2px;
}
.description-container--info-card {
  position: absolute;
  bottom: 0;
  right: 5%;
  padding: 1rem 1.5rem;
  color: #000;
  background-color: #fff;
}
.description-container--info-card p {
  font-family: 'Archivo';
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  color: #222222;
}
.description-container--info-card p span {
  color: #bead8e;
}

@media (min-width: 930px) {
  .description-container {
    padding: 7rem 10% 4rem 10%;
  }
  .description-container--info-card {
    right: 10%;
  }
}
@media (min-width: 1200px) {
  .description-container {
    padding: 7rem 15% 4rem 15%;
  }
  .description-container--info-card {
    right: 15%;
  }
}
.info-container {
  padding: 2rem 1rem;
}
@media (min-width: 930px) {
  .info-container {
    padding: 2rem 10%;
  }
}
@media (min-width: 1200px) {
  .info-container {
    padding: 2rem 15%;
  }
}
.info-container-video {
  margin-bottom: 2rem;
}
.info-container-video video {
  width: 100%;
}
.info-container-description p {
  font-family: 'Old Standard TT', sans-serif;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -1.16px;
  color: #222222;
}
@media (min-width: 930px) {
  .info-container-description p {
    font-size: 42px;
    line-height: 55px;
    letter-spacing: -2.16px;
  }
}
.info-container-description p span {
  display: block;
  font-family: inherit;
}
@media (min-width: 450px) {
  .info-container-description p span {
    display: inline;
  }
}
.info-container-description-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
@media (min-width: 750px) {
  .info-container-description-images {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }
}
.info-container-description-images-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.7rem;
  width: 100%;
}
.info-container-description-images-card svg {
  width: 80px;
  height: 80px;
  fill: #bead8e;
}
.info-container-description-images-card p {
  margin-top: 0.8rem;
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 350px) {
  .info-container-description-images-card p {
    font-size: 11px;
  }
}
@media (min-width: 500px) {
  .info-container-description-images-card p {
    font-size: 12px;
  }
}
.info-container-description-images-card:hover {
  background-color: #bead8e;
}
.info-container-description-images-card:hover svg {
  fill: #fff;
}
.info-container-description-images-card:hover p {
  color: #fff;
}
.info-container-restaurant {
  margin-top: 2rem;
  padding: 1.2rem;
  box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
}
@media (min-width: 930px) {
  .info-container-restaurant {
    display: flex;
    gap: 2rem;
  }
}
.info-container-restaurant-img {
  height: 16.5rem;
}
@media (min-width: 930px) {
  .info-container-restaurant-img {
    min-width: 50%;
    height: 336px;
  }
}
@media (min-width: 1580px) {
  .info-container-restaurant-img {
    height: 370px;
    width: 100%;
  }
}
.info-container-restaurant-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1650px) {
  .info-container-restaurant-card {
    max-width: 500px;
  }
}
.info-container-restaurant-card-legend {
  margin: 1.5rem 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777777;
}
.info-container-restaurant-card h2 {
  font-family: 'Old Standard TT', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: -1.05px;
  color: #222222;
}
@media (min-width: 1580px) {
  .info-container-restaurant-card h2 {
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -1.44px;
  }
}
.info-container-restaurant-card-description {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 20px;
  color: #777777;
}
.info-container-restaurant-card button {
  cursor: pointer;
  min-width: 13.75rem;
  height: 3.75rem;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  padding: 0 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #bead8e;
  border: 0;
}

#facilities-section {
  background: #222222;
}
#facilities-section
  .mySwiperFacilities-mobile-container
  .swiper-pagination-bullet-active {
  background: #bead8e;
}
#facilities-section .facilities-container {
  padding: 3rem 2rem;
}
@media (min-width: 1100px) {
  #facilities-section .facilities-container {
    padding: 3rem 0;
  }
}
#facilities-section .facilities-container-legend {
  text-align: center;
  color: #777777;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
#facilities-section .facilities-container-title {
  text-align: center;
  margin: 1rem 0;
  margin-bottom: 2rem;
  font-family: 'Old Standard TT', sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  letter-spacing: -1.2px;
  color: #fff;
}
@media (min-width: 1100px) {
  #facilities-section .facilities-container-title {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -2.4px;
  }
}
#facilities-section .facilities-container-card {
  margin: auto;
  margin-bottom: 3rem;
  max-width: 21rem;
  padding: 1rem 2rem;
  background: #292929;
}
@media (min-width: 800px) {
  #facilities-section .facilities-container-card {
    max-width: 100%;
    width: 100%;
    padding: 2rem 2rem;
  }
}
@media (min-width: 1100px) {
  #facilities-section .facilities-container-card {
    margin-bottom: 0;
  }
}
#facilities-section .facilities-container-card-imgs {
  position: relative;
  min-height: 8rem;
  margin-bottom: 2rem;
}
#facilities-section .facilities-container-card-imgs object {
  margin-top: 4rem;
}
#facilities-section .facilities-container-card-imgs-bground {
  position: absolute;
  top: -10px;
  right: 0;
  font-weight: 700;
  font-size: 120px;
  line-height: 130px;
  color: #222222;
}
#facilities-section .facilities-container-card-title {
  margin-bottom: 2rem;
  font-family: 'Old Standard TT', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  color: #fff;
}
#facilities-section .facilities-container-card-description {
  max-width: 17rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
@media (min-width: 1100px) {
  #facilities-section
    .facilities-container
    .mySwiperFacilities-mobile-container {
    display: none;
  }
}
#facilities-section
  .facilities-container
  .mySwiperFacilities-desktop-container {
  display: none;
}
@media (min-width: 1100px) {
  #facilities-section
    .facilities-container
    .mySwiperFacilities-desktop-container {
    display: grid;
    gap: 3.1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}
@media (min-width: 1380px) {
  #facilities-section
    .facilities-container
    .mySwiperFacilities-desktop-container {
    margin: auto 15%;
  }
}

.counter-container {
  padding: 3rem 1rem 0 1rem;
}
.counter-container p {
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777777;
}
.counter-container h2 {
  margin: 1.5rem 0;
  font-family: 'Old Standard TT', sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #222222;
}
.counter-container-stats {
  margin: 2rem auto;
}
.counter-container-stats-card {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  justify-content: space-between;
  padding: 0 10px;
  max-width: 22rem;
}
.counter-container-stats-card-content {
  display: flex;
  align-items: center;
  gap: 14px;
}
.counter-container-stats-card-content-text {
  font-family: 'Old Standard TT', sans-serif;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -1.8px;
  color: #222222;
}
.counter-container-stats-card-content-text span {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #777777;
  letter-spacing: 0px;
}
.counter-container-stats-card-arrow {
  display: flex;
  align-items: center;
  color: #dcdcdc;
}
.counter-container-slider .swiper-wrapper {
  margin-bottom: 3rem;
}
.counter-container-slider .mySwiperCounter .swiper-pagination-bullet-active {
  background-color: #bead8e;
}
.counter-container-slider-card {
  height: 350px;
}
.counter-container-slider-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.counter-container-desktop {
  display: none;
}

@media (min-width: 800px) {
  .counter-container-slider {
    display: none;
  }
  .counter-container-desktop {
    display: flex;
    gap: 4%;
    height: 350px;
  }
  .counter-container-desktop-img {
    width: 48%;
  }
  .counter-container-desktop-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 1100px) {
  .counter-container {
    padding: 0;
    padding-top: 3rem;
    margin: auto 15%;
  }
  .counter-container-stats {
    display: flex;
    justify-content: space-between;
  }
  .counter-container-stats-card {
    width: 100%;
    max-width: 22rem;
  }
}

/*# sourceMappingURL=about-us.css.map */
