@charset "UTF-8";
.container-nav {
  z-index: 1;
  position: relative;
  height: 4.4rem;
  padding: 0 1.5rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  background-color: #fff;
}
.container-nav-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.75rem;
}
.container-nav-navbar-mobile-menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 16px;
  gap: 5px;
}
.container-nav-navbar-mobile-menu-btn span {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.8s;
  transform-origin: left;
}
.container-nav-navbar-mobile-menu-btn--open span:first-child {
  transform: rotate(45deg);
}
.container-nav-navbar-mobile-menu-btn--open span:nth-child(2) {
  opacity: 0;
}
.container-nav-navbar-mobile-menu-btn--open span:last-child {
  transform: rotate(-45deg);
}
.container-nav-navbar-content {
  width: 100%;
}
.container-nav-navbar-content-logo-container {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.container-nav-navbar-content-logo-container-square {
  padding: 0.6rem;
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}
.container-nav-navbar-content-logo-container-text {
  max-width: 3.4rem;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.container-nav-navbar-content-logo-container-text span {
  font-weight: bold;
}
.container-nav-navbar-content-pages {
  display: none;
}
.container-nav-navbar-images-container {
  display: flex;
  gap: 1rem;
}

.bground-header-container-text {
  display: none;
  color: #fff;
}

.mobile-menu {
  position: absolute;
  background-color: white;
  width: 100%;
  padding: 0.4rem 1.5rem;
  transition: all 1s ease-out;
  z-index: 1;
}
.mobile-menu ul {
  overflow: hidden;
  max-height: 15rem;
  transition: all 1s ease-out;
}
.mobile-menu li {
  margin: 1.3rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.mobile-menu li:hover {
  text-decoration: underline;
}
.mobile-menu--closed {
  padding: 0;
  transition: all 0.7s ease-out;
}
.mobile-menu--closed ul {
  max-height: 0px;
  transition: all 0.7s ease-out;
}

@media (min-width: 450px) {
  .container-nav-navbar {
    padding: 0 3.5rem;
    gap: 2.5rem;
  }
  .container-nav-navbar-content-logo-container-text {
    max-width: 3.8rem;
    font-size: 0.8rem;
  }
  .container-nav-navbar-images-container {
    gap: 2rem;
  }
}
@media (min-width: 700px) {
  .container-nav-navbar {
    padding: 0 3.5rem;
    gap: 3.2rem;
    padding-right: 4.5rem;
  }
  .container-nav-navbar-content-logo-container {
    gap: 1rem;
  }
  .container-nav-navbar-content-logo-container-square {
    padding: 0.8rem;
    font-size: 1.4rem;
  }
  .container-nav-navbar-content-logo-container-text {
    max-width: 5rem;
    font-size: 0.9rem;
  }
  .container-nav-navbar-images-container {
    gap: 3rem;
  }
  .container-nav-navbar-images-container object {
    width: 35px;
  }
}
@media (min-width: 930px) {
  .bground-header-container {
    position: relative;
    height: 6.25rem;
    background-color: #222222;
    padding: 0 10%;
    padding-top: 1.1rem;
  }
  .bground-header-container-text {
    display: block;
    margin-bottom: 0.6rem;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
  }
  .bground-header-container .container-nav {
    padding: 0 1rem;
    height: 7rem;
  }
  .bground-header-container .container-nav-navbar {
    padding: 0;
    box-shadow: none;
  }
  .bground-header-container .container-nav-navbar-content-logo-container {
    min-width: 10rem;
  }
  .bground-header-container
    .container-nav-navbar-content-logo-container-square {
    padding: 1.3rem 1.7rem;
    font-size: 2.3rem;
  }
  .bground-header-container .container-nav-navbar-content-logo-container-text {
    font-size: 1.3rem;
    max-width: 7rem;
    margin-right: 0.6rem;
  }
  .bground-header-container .container-nav-navbar-content-pages {
    display: block;
  }
  .bground-header-container .container-nav-navbar-content-pages ul {
    display: flex;
    gap: 2rem;
  }
  .bground-header-container .container-nav-navbar-content-pages li {
    font-weight: 700;
    font-size: 0.9rem;
  }
  .bground-header-container .container-nav-navbar-content-pages li:hover {
    text-decoration: underline;
  }
  .bground-header-container .container-nav-navbar-images-container {
    gap: 1.3rem;
    margin-right: 1rem;
  }
  .bground-header-container .container-nav-navbar-images-container-border {
    border: 2px solid rgba(133, 133, 133, 0.3);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bground-header-container
    .container-nav-navbar-images-container-border
    object {
    width: 25px;
  }
  .mobile-menu {
    margin: 0;
  }
  #mobile-menu-btn {
    display: none;
  }
}
@media (min-width: 1100px) {
  .bground-header-container .container-nav-navbar-content-logo-container-text {
    margin-right: 2.5rem;
  }
  .bground-header-container .container-nav-navbar-images-container {
    margin-right: 6.3rem;
  }
}
.footer-container {
  padding: 2rem 1rem;
  margin-top: 3rem;
  background-image: url(../assets/footer/rectangle_footer.svg);
}
.footer-container-info {
  max-width: 20rem;
}
.footer-container-info-logo {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.footer-container-info-logo-square {
  padding: 1.1rem 1.5rem;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.8rem;
  color: #fff;
  background-color: #bead8e;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}
.footer-container-info-logo-text {
  max-width: 3.4rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}
.footer-container-info-logo-text span {
  font-weight: 700;
}
.footer-container-info-description {
  margin-top: 3rem;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #777777;
}
.footer-container-info-networks {
  margin: 1rem 0;
  display: flex;
  gap: 0.5rem;
}
.footer-container-info-networks .bground-container {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #f9f9f9;
}
.footer-container-info-networks .bground-container .icon-social-networks {
  cursor: pointer;
  height: 20px;
  background-color: #fff;
}
.footer-container-info-networks .bground-container .icon-social-networks svg {
  fill: #777777;
  width: 20px;
  height: 20px;
}
.footer-container-info-networks .bground-container:hover svg {
  fill: #bead8e;
}
.footer-container-services {
  max-width: 26.5rem;
  margin: 3rem 0;
}
.footer-container-services p {
  font-family: 'Old Standard TT', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.footer-container-services-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  gap: 1.1rem;
}
.footer-container-services-info ul {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  line-height: 2rem;
  color: #777777;
}
.footer-container-contact-title {
  font-family: 'Old Standard TT', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222222;
}
.footer-container-contact .contact-method {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
}
.footer-container-contact .contact-method-info-title {
  font-family: 'Old Standard TT', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #222222;
}
.footer-container-contact .contact-method-info-description {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #777777;
}
.footer-container-contact .contact-method #mail-info-container {
  padding-bottom: 0.8rem;
}

.footer-bar {
  min-height: 4rem;
  padding: 1rem;
  background-color: #f9f9f9;
}
.footer-bar-copyright {
  margin-bottom: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: -0.48px;
  color: #222222;
}
.footer-bar-info {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1rem;
  letter-spacing: -0.48px;
  color: #222222;
}

@media (min-width: 700px) {
  .footer-container-services {
    margin: 0;
  }
  .footer-container-services-info {
    gap: 2.5rem;
  }
  .footer-container-services-info ul {
    font-size: 1rem;
    line-height: 3rem;
  }
  .footer-bar--container {
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-bar-copyright {
    margin-bottom: 0;
  }
}
@media (min-width: 800px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    gap: 1.1rem;
  }
}
@media (min-width: 1000px) {
  .footer-bar {
    padding: 1rem 15%;
  }
}
@media (min-width: 1100px) {
  .footer-container {
    padding: 3rem 15% 2rem 15%;
  }
}
@media (min-width: 1300px) {
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-container-services-info ul {
    font-size: 0.8rem;
    line-height: 3rem;
  }
}
@media (min-width: 1640px) {
  .footer-container-services-info ul {
    font-size: 1rem;
    line-height: 3rem;
  }
}
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: 'Archivo', sans-serif;
  list-style: none;
}

body {
  min-width: 320px;
  background-color: #fff;
}
@media (min-width: 2500px) {
  body {
    margin: 0 auto;
    max-width: 150rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: 2rem;
  height: 2rem;
  color: #000;
  background-color: #f1f0f0;
}
@media (min-width: 700px) {
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    width: 3rem;
    height: 3rem;
  }
}
.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  background-color: #bead8e;
  color: #fff;
  border: 0;
}
.swiper .swiper-button-next::after {
  content: '﹥';
  font-size: 18px;
  font-weight: 700;
}
.swiper .swiper-button-prev::after {
  content: '﹤';
  font-size: 18px;
  font-weight: 700;
}

#description-section {
  background-color: #333333;
}

.description-container {
  position: relative;
  color: #fff;
  min-height: 15rem;
  padding: 4rem 1.5rem;
}
.description-container--legend {
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.1rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.description-container--title {
  margin-top: 1rem;
  font-family: 'Old Standard TT', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -1.2px;
}
.description-container--info-card {
  position: absolute;
  bottom: 0;
  right: 5%;
  padding: 1rem 1.5rem;
  color: #000;
  background-color: #fff;
}
.description-container--info-card p {
  font-family: 'Archivo';
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
  color: #222222;
}
.description-container--info-card p span {
  color: #bead8e;
}

@media (min-width: 930px) {
  .description-container {
    padding: 7rem 10% 4rem 10%;
  }
  .description-container--info-card {
    right: 10%;
  }
}
@media (min-width: 1200px) {
  .description-container {
    padding: 7rem 15% 4rem 15%;
  }
  .description-container--info-card {
    right: 15%;
  }
}
#offers-section {
  padding: 2rem 1rem;
}
@media (min-width: 1100px) {
  #offers-section {
    padding: 2rem 15%;
  }
}

.offers-section-card {
  margin: 2rem 0;
  box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
}
@media (min-width: 800px) {
  .offers-section-card {
    position: relative;
    margin-bottom: 27rem;
  }
}
.offers-section-card--divider {
  padding: 1rem 1rem 2rem 1rem;
}
@media (min-width: 800px) {
  .offers-section-card--divider {
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: -81%;
    background-color: #fff;
    padding: 3rem;
    border-top: 6px solid #bead8e;
  }
}
.offers-section-card-img {
  height: 180px;
}
@media (min-width: 800px) {
  .offers-section-card-img {
    height: 500px;
  }
}
.offers-section-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offers-section-card-title {
  position: relative;
}
@media (min-width: 800px) {
  .offers-section-card-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ececec;
  }
}
.offers-section-card-title--legend {
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 1rem;
}
.offers-section-card-title h3 {
  font-family: 'Old Standard TT', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.44px;
  color: #222222;
}
.offers-section-card-title-price {
  position: absolute;
  top: -95px;
  right: 0;
  text-align: right;
}
@media (min-width: 800px) {
  .offers-section-card-title-price {
    position: initial;
  }
}
.offers-section-card-title-price #old-price,
.offers-section-card-title-price #new-price {
  text-shadow: 1px 1px 1px #000;
}
.offers-section-card-title-price #old-price span,
.offers-section-card-title-price #new-price span {
  font-size: 16px;
  line-height: 12px;
}
.offers-section-card-title-price #old-price {
  font-weight: 700;
  font-size: 23px;
  line-height: 25px;
  text-decoration-line: line-through;
  color: #bead8e;
  margin-bottom: 1rem;
}
.offers-section-card-title-price #new-price {
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  color: #de5777;
}
@media (min-width: 800px) {
  .offers-section-card-description {
    display: flex;
    position: relative;
    padding: 2rem 0;
    gap: 30px;
  }
}
.offers-section-card-description-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin: 1.5rem 0;
}
@media (min-width: 800px) {
  .offers-section-card-description-text {
    margin: 0;
    width: 80%;
  }
}
.offers-section-card-description-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}
@media (min-width: 800px) {
  .offers-section-card-description-grid {
    width: 61%;
  }
}
.offers-section-card-description-grid-card {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.offers-section-card-description-grid-card p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #777777;
}
.offers-section-card-description button {
  cursor: pointer;
  min-width: 13.75rem;
  height: 3.75rem;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  padding: 0 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #bead8e;
  border: 0;
}
@media (min-width: 800px) {
  .offers-section-card-description button {
    position: absolute;
    bottom: 12px;
  }
}

.popular-container {
  padding: 2rem 1rem;
  text-align: center;
  background-color: #222222;
}
@media (min-width: 1100px) {
  .popular-container {
    padding: 3rem 15%;
  }
}
.popular-container-title p {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #bead8e;
}
.popular-container-title h3 {
  font-family: 'Old Standard TT', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.8px;
  color: #fff;
}

.rooms-card {
  position: relative;
  padding-bottom: 1rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.rooms-card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 60.5rem;
}
.rooms-card-top {
  position: absolute;
  bottom: -6px;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: auto;
  height: 3rem;
  padding: 0 1.5rem;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
  z-index: 1;
}
.rooms-card-bottom {
  position: absolute;
  padding: 1rem 0;
  height: 200px;
  background-color: #fff;
  text-align: center;
  bottom: -200px;
  width: 100%;
  padding: 0 10px;
  padding-top: 1rem;
}
.rooms-card-bottom-title {
  font-family: 'Old Standard TT', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.2px;
  color: #222222;
}
.rooms-card-bottom-content {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 1rem auto;
  color: #777777;
}
.rooms-card-bottom-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #bead8e;
}
.rooms-card-bottom-price span {
  margin-left: 1.5rem;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #777777;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  margin-top: 3rem;
  margin-bottom: 13.5rem;
}

.swiper-slide-top {
  position: absolute;
  top: -1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: auto;
  height: 3rem;
  padding: 0 1.5rem;
  background-color: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 60.5rem;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  top: 35% !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #bead8e;
  color: #fff;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}

/*# sourceMappingURL=offers.css.map */
