@use 'modules/variables';

@use 'modules/header';
@use 'modules/first_section';
@use 'modules/availability_section';
@use 'modules/about_us';
@use 'modules/rooms';
@use 'modules/intro_video';

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: variables.$font-archivo;
  list-style: none;
}

body {
  min-width: 320px;
  background-color: variables.$color-white;
}

a {
  text-decoration: none;
  color: inherit;
}
