@use 'modules/shared/variables';
@use 'modules/shared/slider_btns';
@use 'modules/shared/header';
@use 'modules/shared/footer';
@use 'modules/shared/section_description';

@use 'modules/main-page/first_section';
@use 'modules/main-page/availability_section';
@use 'modules/main-page/about_us';
@use 'modules/main-page/rooms';
@use 'modules/main-page/intro_video';
@use 'modules/main-page/facilities';
@use 'modules/main-page/menu';
@use 'modules/main-page/stats';

@use 'modules/aboutus-page/info';

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: variables.$font-archivo;
  list-style: none;
}

body {
  min-width: 320px;
  background-color: variables.$color-white;
  @media (min-width: 2500px) {
    margin: 0 auto;
    max-width: 150rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
